@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border;
    @apply text-base;
    /* @apply bg-gradient-to-tl from-purple-700 via-black to-violet-900; */
  }


  body {
    @apply font-serif;
    @apply bg-gradient-to-r from-slate-900 to-slate-800;
    @apply text-gray-100

  }

  img {
    @apply max-w-full;
    @apply h-auto;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    @apply m-0 p-0 font-normal antialiased;
  }

  ol, ul {
    @apply list-none;
  }

  .container {
    @apply w-[1200px] max-w-full m-auto
  }


}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}